* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
}
html,body {
	height: 100%;
	background-color: #fbf9fe;
	padding: 0;
	min-width: 300PX;
	max-width: 640PX;
	margin: 0 auto;
	overflow: hidden;
}
#app {
	height: 100%
}
.eclipsis {
	overflow: hidden; 
	text-overflow: ellipsis;  
	white-space: nowrap;
}
.block {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fbf9fe;
}
.clearfix:before,.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}
.padt {
	padding-top: 44px
}
.scrollable
{padding-bottom: 0!important}
.scrollable .vux-tab-ink-bar{bottom:0!important;}